*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
        background-color: #eee !important;
}
/* header section*/

.nav {
    display:flex;
    justify-content: space-between;
    padding:2%  6%;

}
.nav-links{
    flex:1;
    text-align: right;
   
}
nav img{
    width:150px;

}
 .nav-links ul li{
    list-style: none;
    padding:2%;
    display: inline-block;
    padding:8px 12px;
    position: relative;

} 
.nav-links ul li a{
   text-decoration:none;
   color:#fff;
   font-size:13px;
} 
.nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    display:block;
    margin: auto;
    background-color: rgb(255, 68, 68);
    transition: 0.5s;
} 
    .nav-links ul li:hover:after{
        width:100%;
    }
    .nav-links .fa{
        display: none;

    }
    nav .fa-bars{
        display: none;
    }
    .text-background{
        width:90%;
        text-align: center;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .text-background h1{
        font-size:30px;
        font-weight: 600;
        color:white;
    }
    /*---Contact section*/
.contact h2{
    font-size:25px;
    margin: 20px;
}
.contact{
    width:80%;
    margin:auto;
    background-color: white;
    border-radius: 5px;
}
.contact .row{
    display: flex;
    justify-content: space-around;
    padding:10px;
    flex-wrap: wrap;
    margin: 10px;

}
.contact button{
    margin: 10px;
}
.contact-content ul li{
    list-style: none;
    padding:10px;

}
.social h2{
    font-size: 22px;
}
 .social .fa{
position: relative;
left:20px;
margin: 5px;
}
/*--- Message*/
#Message{
    height:200px;
}
/*---map---*/
.map{
    width:80%;
    margin: auto;
}
.mapouter{
    width:100%;
    margin-top:30px;
}
/*--- footer-----*/
.footer{
    background-color: black;
    margin-top:60px;
}
.footer-content h4{
    font-size:20px;
    color:white;
    text-align: center;
}
.footer .row{
    width:80%;
    margin: auto        ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px;

}
.footer h2{
    font-size: 18px;
    line-height: 2;
    color:white;
}
.footer ul li{
    list-style: none;
    margin:10px 0;
    color:white;
}
.footer .fa{
    cursor: pointer;
    font-size:20px;
    color:aliceblue;
}

.Useful-Link ul li {
    margin: 2px;
    list-style: none;
    color:white;

}
.Useful-Link ul li a{
    text-decoration: none;
    color:black;
    color:white;
}

.Useful-Link ul li::after{
    content: '';
    width:0%;
    height: 2px;
    display:block;
    background-color: rgb(255, 68, 68);
    margin: auto;
    transition: 0.5s;
}
.Useful-Link ul li.hover::after{
    width:100%;
    color:red;
}
.copywrite .fa{
    background-color: rgb(255, 68, 68);
    border-radius : 3px;
    padding:10px;
    position: relative;
    bottom: 10px;
   
}
.chevron{
   margin-left: 90% ;
}
@media(max-width:700px)
{
     body{
        overflow-x: hidden;
        background-color: white  !important;
    }
    html{
        overflow-x: hidden;
    }
    
       .text-background h1{
        font-size:20px;
    }
    .text-background p{
        font-size: 13px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position:absolute;
        background-color:rgb(255, 68, 68);
        height: 70vh;
        width:200px;
        top: 0;
        right: -200px;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
       margin:10px;
       font-size:22px;
       color:white;
       cursor: pointer;
      
    }
    .nav-links ul li {
        display: block;
        border-bottom: 1px solid #eee;
        text-align: center;
        margin: 23px;

    }
    
    .nav-links ul li a{
        margin:10px;
    }
    .nav-links {
        text-align: center;
    }
    .nav-links ul{
      padding:20px;
    }   
    .nav-links .fa{
        color: white;
        font-size: 22px;
        display: block;
        margin: 10px;
        margin-right: 150px;
        margin-top: 20px;
        cursor: pointer;
    }
    /*contact body*/
    .contact{
        width:100%;
    }
    .contact h2{
        text-align: left;
    }
    .contact-content{
    width:100%;
    margin-right:30px;
    }
    /*-- footer---*/
    .copywrite .fa{
        display: none;
    }
    .Useful-Link{
        margin-top:40px;
    }
    .footer{
        height: 850px;
    }
    }